---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJkdXBvbWFpbDEyM0BxdWlja3N0YXJ0LTE1NjQ1MTExNDc2MjYuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJhdWQiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9vYXV0aDIvdjQvdG9rZW4iLCJleHAiOjE1Nzg0MjU3NTgsImlhdCI6MTU3ODQyNTYzOCwic2NvcGUiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL3NwcmVhZHNoZWV0cyJ9.AxOPqhuZvwQa2vbn1AM-ce95VU4NPNdOdw-Gw4jn-O87GU1k5CDwwgT31MTGNqitoztN1OOxx-5D185aif2FTBaZ1jvR96XE-aL7YXY2RuKfN1voFuj28SZpYt3hj1w8mchKk57eqWsyIxzIHX0-amjyAROF8q5FJepIlGq6GWi1PKm9_EjxjL37HUfIVE11GYAxCxJ5wJ0bK7D7nT18ossIf_6FwEl_69bTL0-mmVJ9yPpc9t0mlfddXVW65QKRbiB1yVdcnAM5Xa8XANcx6ZJ27YeCwIy6t_RqDHRux9XGFNn0wGshpHnlu4vifRWkco1IDGsW7mJF1XEEPgKRaQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.Kl65B4lZ3Odr0qgBCPOTyqDfPn3ocTO8iy2L91bmB-ggH7tgS1GYhtIyGVAgcrJ8b2fp9tsABiyQBb0yeSJkYT2Hfis_kyUWO5MsVe5gNiPbXvC9p4ewYxw3Ykv4wlgK",
          "expires_in": 3599,
          "token_type": "Bearer"
        }
  recorded_at: Tue, 07 Jan 2020 19:34:58 GMT
- request:
    method: put
    uri: https://sheets.googleapis.com/v4/spreadsheets/16EgIgm9iEjeYijWHT1D9KkWzCFqqcIWsrgy5EDGmsu4/values/test_sheet!A2?valueInputOption=RAW
    body:
      encoding: UTF-8
      string: '{"values":[["","","","","","","","","NIE","Tax amount nie może być
        puste, Period nie może być puste, Termin płatności nie może być puste, Fullname
        nie może być puste, Email nie może być puste, Email jest nieprawidłowe, Powiadomienie
        jest nieprawidłowe"],["","","","","","","","","",""],["","","","","","","","","",""],["","","","","","","","","",""],["","","","","","","","","",""]]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.Kl65B4lZ3Odr0qgBCPOTyqDfPn3ocTO8iy2L91bmB-ggH7tgS1GYhtIyGVAgcrJ8b2fp9tsABiyQBb0yeSJkYT2Hfis_kyUWO5MsVe5gNiPbXvC9p4ewYxw3Ykv4wlgK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "16EgIgm9iEjeYijWHT1D9KkWzCFqqcIWsrgy5EDGmsu4",
          "updatedRange": "test_sheet!A2:J6",
          "updatedRows": 5,
          "updatedColumns": 10,
          "updatedCells": 50
        }
  recorded_at: Tue, 07 Jan 2020 19:34:59 GMT
recorded_with: VCR 5.0.0
